<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>oauthsso</name>
	<displayName><![CDATA[OAuth 2.0 Single SignOn Client]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Provides a mechanism to identify users from an OAuth 2.0 Identity Server, allowing the Single SignOn of users in your entire organization.]]></description>
	<author><![CDATA[Carlos Cid <carlos@fishandbits.es>]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall OAuth 2.0 Single SignOn Client?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
